.jumbotron {
    color: white;
    height: 20vh;
    opacity: 1;
    padding: 30vh 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    margin-bottom: 0px;
}

.content {
    background: white;
    height: 1000px;
    border-radius: 10px;
}

.container {
    margin: auto;
    width: 80vw;
}
