.navbar {
    background-color: var(--dark-gray);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-button {
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.navbar-button:hover {
    color: var(--primary-red);
}
